.header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  /* background-color: #282c34; */
  position: absolute;
  top: 5px;
  color: white;
  z-index: 2;
}
.sec2 {
  display: flex;
  align-items: center;
  gap: 40px;
}
.sec1 h4 {
  word-break: keep-all;
  font-weight: 500;
}
.sec1 {
  margin-left: 50px;
  font-size: 30px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec2 h4 {
  font-weight: 100;
}
.sec2 h4:hover {
  cursor: pointer;
  color: rgb(220, 213, 213);
}

.chironbtn {
  border-radius: 10px;
  background-color: transparent;
  padding: 7px 20px;
  font-size: 14px;

  color: white;
  border: none;
  border: 3px solid white;
}
.chironbtn:hover {
  background-color: white;
  color: black;
  transition: 0.3s;
  scale: 1.1;
}
