.main-container {
  /* min-height: 100vh; */
  
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: white;
  /* position: relative; */

  /* flex-direction: column; */
}
video {
  /* width: 100%;
  height: 100%;
  object-fit: cover; */
  object-position: center;
  position: absolute;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Keeps aspect ratio */
  z-index: 1; /* Puts video behind content */
  filter: brightness(0.7); /* optional: darker video for readability */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
  z-index: 0;
}

.chirons {
  position: absolute;
  z-index: 3;
  top: 70%;
  left: 63%;
  width: 35%;
}
.cimg {
  filter: brightness(0) invert(1);
}
.chironp {
  position: absolute;
  z-index: 3;
  top: 83%;
  left: 80%;
}
